* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

:root {
    font-size: 62.5%;

    --hue: 120;

    --base-color: hsl(var(--hue), 100%, 50%);
    --background-color-black: hsl(0, 0%, 0%) ;

    font-family: 'Sora', sans-serif;
}

::-webkit-scrollbar {
    width: .8rem;
}

::-webkit-scrollbar-track {
    background-color: #2c2c31;

}

::-webkit-scrollbar-thumb {
    background-color: var(--base-color);
}

html, body {
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.section {
    height: 68rem;
}

/* HEADER E NAV */

header {
    width: 100%;
    background-color: #000000;
    position: fixed;
    opacity: 0;

    z-index: 999;
    display: flex;
    justify-content: center;

    height: 8rem;

    animation: top-down .3s 3s ease-in forwards;
}

nav .logo {
    width: 15rem;
}

nav ul li .nav {
    position: relative;
}

header nav {
    width: 120rem;
    display: flex;
    justify-content: space-between;
    padding: 1rem 10rem;
    align-items: center;
    gap: 4rem;
}

header nav ul{
    display: flex;
    gap: 2rem;
    list-style: none;
}

header nav ul li .nav{
    font-size: 1.2rem;
    color: #ffffff;
    text-decoration: none;
    
    transition: color .3s;
}


header nav ul li .nav.active {
    color: hsl(120, 100%, 50%);
}

.icon-menu, .icon-close {
    display: none;
}

header nav ul li .nav::after {
    content: '';
    width: 0%;
    height: 2px;
    background: var(--base-color);

    position: absolute;
    left: 0;
    bottom: -1rem;

    transition: width 0.2s ease-in-out;
}

header nav ul li .nav:hover::after,
nav ul li .nav.active::after{
    width: 100%;
}

header nav ul li .instagram {
    color: #000;
    padding: .5rem 2rem;
    background: var(--base-color);

    font-size: 1.2rem;
    font-weight: bold;
    text-decoration: none;

    transition: background-color .2s ease-in-out;
}

header nav ul li .instagram:hover {
    background-color: #fff;
}

#header.scroll {
    transition: .2s;
    box-shadow: 0 0 2rem rgba(0, 0, 0, 0.152);
}

@keyframes top-down{
    0% {
        opacity: 0;
        transform: translateY(-100%);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/* SECTION HOME */

#home {
    color: #ffffff;
    background-color: #000000;

    display: flex;
    justify-content: center;
    text-align: center;

}

#home .text {
    width: 48rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    opacity: 0;
    animation: opacity .2s 3s forwards;

} 

#home .text h1 {
    font-size: 4.5rem;
    font-weight: 700;
}

#home .text p {
    font-size: 1.4rem;
    font-weight: 400;

    margin-bottom: 6rem;
}

#home .text .link a {
    background: var(--base-color);
    color: #000;
    padding: 1.6rem 4.6rem;

    font-size: 1.2rem;
    font-weight: 700;

    text-transform: uppercase;
    width: 24rem;
    cursor: pointer;
    opacity: 0;

    transition: all .2s ease-in-out;

    animation: opacity .2s 3s forwards;
}

#home .text .link a:hover {
    background: #fff;
}

@keyframes opacity {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/* SECTION WHY */

#why {
    display: flex;
    align-items: center;
    justify-content: center;
    
    gap: 14rem;
    padding: 0 2rem;
    animation: bg .0s .1s ease forwards;
}

@keyframes bg {
    0% {
        background: #000;
    }

    100% {
        background: #fff;
    }
}

#why .content-why {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 14rem;
    width: 100%;
    animation: bg .2s 6s ease forwards;

}

#why .text {
    width: 44.9rem;
}

#why .arrow {
    margin-left: .5rem;
}

#why .text h1 {
    font-size: 4.5rem;
    font-weight: 700;
}

#why .text h1 span {
    color: var(--base-color);
}

#why .square p {
    color: #000;
    font-size: clamp(1.2rem, 1vw, 1.4rem);
    font-weight: 400;
}

#why .square a {
    font-family: 'Sora', sans-serif;

    font-size: 1.2rem;
    font-weight: 700;
    text-transform: uppercase;
}

#why .square {
    display: flex;
    flex-direction: column;
    width: 40.9rem;
    height: 40.9rem;
    padding: 5rem;
    border: 1px solid hsla(0, 0%, 0%, 0.259);
} 

#why a {
    color: #000;
    text-decoration: none;
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: 700;
    line-height: normal;

    margin-top: 3.2rem;
    background-color: var(--base-color);
    padding: 1.6rem;
    border: none;
    text-align: center;
    width: 100%;
    cursor: pointer;

    transition: all .2s ease-in-out;
}

#why a:hover {
    color: #fff;
    background: #000;
}

/* SECTION SERVICES */

#services {
    background: url(./assets/third-background.png) no-repeat top center/cover; 
}

#services {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5.4rem;
    height: 58rem;
}

#services .text {
    display: flex;
    flex-direction: column;
    align-items: center;

    color: #fff;
    gap: 1.2rem;
}

#services .text h1 {
    font-size: 4.5rem;
    font-weight: 700;
}

#services .text p {
    font-size: 1.4rem;
    font-weight: 400;
    text-align: center;
}

#services .cards-services {
    display: grid;
    grid-template-areas: 
    "A B"
    "C D";
    gap: 2.3rem;
}

#services .cards-services .card{
    transition: all .2s ease-in-out;
}


#services .card {
    padding: 1.8rem 6.2rem;
    background: var(--base-color);
    
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    
    display: flex;
    align-items: center;
    gap: .8rem;
    
    transition: all .2s ease-in-out;
    
}

#services .cards-services .card:hover {
    background: #fff;
}

/* SECTION PUBLIC */

#public {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 65rem;
}

#public h1 {
    font-size: 4.5rem;
    font-weight: 700;
    margin-bottom: 2rem ;
    width: 61.5rem;
}

::selection {
    background: var(--base-color);
}

#public h1 span {
    color: var(--base-color);
}

#public .clients {
    display: flex;
    color: #fff;
    gap: 2.4rem;
    margin-bottom: 4rem;
    z-index: -1;
}

#public .icons {
    position: relative;
    top: 2.5rem;
    display: flex;
    gap: 23.5rem;
}

.house, .bag, .wifi {
    background-color: #000;
    padding: .9rem 1.5rem;
}

.company, .entrepreneurs, .influencers {
    display: flex;
    flex-direction: column;
    gap: 1.4rem;

    background: #000;
    width: 27rem;
    padding: 5.8rem 3.1rem;
}

.clients h3 {
    color: var(--base-color);
    text-align: center;
    font-size: 1.4rem;
    font-weight: 700;
    text-transform: uppercase;
}

.clients p {
    text-align: center;
    font-size: 1.4rem;
    font-weight: 400;
}

#public a {
    padding: 1.6rem 4.6rem;
    width: 24rem;
    background: var(--base-color);

    font-size: 1.2rem;
    font-weight: 700;

    text-transform: uppercase;
    text-decoration: none;

    color: #000;

    transition: all .2s ease-in-out;
}

#public a:hover {
    color: #fff;
    background: #000;
}

/* SECTION METHODOLOGY */

#mais, #maisTwo, #maisThree {
    display: none
}

#methodology {
    display: flex;
    justify-content: center;
    background-color: #000000;
    height: auto;
    padding: 10rem 0;
}

.content-bt {
    gap: 3rem;
    display: flex;
    flex-direction: column;
}

#methodology .steps {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

#methodology .button {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#methodology .button p {
    font-size: 3rem;
    color: #fff;
}

#methodology .text {
    font-size: 3rem;
    color: #fff;
    text-align: center;
}

.breathing, .estrategy, .synthesis {
    padding: 1rem 0 0 0;
    border-top: .3rem solid hsl(var(--hue), 100%, 50%);
    width: 70rem;
    gap: 3rem;
    display: flex;
    flex-direction: column;
}

.breathing span, .estrategy span, .synthesis span{
    color: #fff;
    font-size: 1.5rem;
}

#methodology .showmore {
    font-size: 3rem;
    color: var(--base-color);
    background-color: #000;
    border: none;
    width: 2rem;
    display: flex;
    gap: 53rem;
    font-family: 'Sora', sans-serif;
    align-items: center;
    cursor: pointer;
}

/* SECTION PORTIFOLIO */

#portifolio {
    background: #000;
    
    display: flex;
    align-items: center;
    justify-content: center;

    gap: 5rem;
    padding: 12rem 0;
}

#portifolio .content-portifolio {
    display: flex;
    gap: 15rem;
    align-items: center;
}

/* #portifolio .line {
    background: var(--base-color);

    height: .6rem;
    width: 29.7rem;

    margin-bottom: 6rem;
} */

#portifolio .text {
    display: flex;
    flex-direction: column;

    gap: 1.2rem;
    margin-top: 1.6rem;
    gap: 3.1rem;
}


#portifolio .text h1 {
    color: #fff;
    font-size: 4.5rem;
    font-weight: 700;
}

#portifolio .text h1 span{
    color: var(--base-color);
}

#portifolio .text p {
    color: #fff;

    font-size: 1.4rem;
    font-weight: 400;
}

#portifolio .client {
    color: #fff;

    font-size: 3rem;
    font-weight: 700;
    width: 100%;
    padding: 0 5rem;
}

#portifolio a {
    color: #000;
    text-decoration: none;
    background: #fff;

    width: 24rem;
    padding: 1.6rem 4.6rem;

    font-size: 1.2rem;
    font-weight: 700;
    text-transform: uppercase;

    transition: all .2s ease-in-out;
}

#portifolio a:hover {
    color: #fff;
    background: #0057ff;
}

#portifolio .image {
    width: 50rem;
}

/* SLIDER 1 */

/* .container-swiper-1 {
    position: relative;
    padding: 1.5rem;
    max-width: 100%;
    margin: 0 auto;
}

.gallery-wrapper-1 {
    overflow-x: auto;
}

.gallery-1 {
    display: flex;
    flex-flow: row nowrap;
    gap: 1.5rem;
}

.arrow-left-1,
.arrow-right-1 {
    position: absolute;
    top: 0;
    left: 0;
    right: auto;
    bottom: 0;

    font-size: 6rem;
    line-height: 25rem;
    width: 4rem;

    text-align: center;
    color: #fff;
    cursor: pointer;
    z-index: 1;

    border: none;
    background: linear-gradient(to left, transparent 0%, black 200%);
    opacity: 0.6;


    transition: all 300ms ease-in-out;
}

.arrow-right-1 {
    left: auto;
    right: 0;
    text-align: right;
    background: linear-gradient(to right, transparent 0%, black 200%);
}

.arrow-left-1:hover,
.arrow-right-1:hover {
    opacity: 1;
}

.item-1 {
    width: 25rem;
    height: 25rem;
    flex-shrink: 0;
    opacity: 0.6;
    transition: all 300ms ease-in-out;
}

.current-item-1 {
    opacity: 1;
}

.gallery-wrapper-1::-webkit-scrollbar {
    display: none;
}

.gallery-wrapper-1 {
    -ms-overflow-style: none;

    scrollbar-width: none;
} */

/* SLIDER 2 */

/* .container-swiper-2 {
    position: relative;
    padding: 1.5rem;
    max-width: 100%;
    margin: 0 auto;
}

.gallery-wrapper-2 {
    overflow-x: auto;
}

.gallery-2 {
    display: flex;
    flex-flow: row nowrap;
    gap: 1.5rem;
}

.arrow-left-2,
.arrow-right-2 {
    position: absolute;
    top: 0;
    left: 0;
    right: auto;
    bottom: 0;
    font-size: 6rem;
    line-height: 25rem;
    width: 4rem;
    text-align: center;
    color: #fff;
    cursor: pointer;
    border: none;
    z-index: 1;

    background: linear-gradient(to left, transparent 0%, black 200%);
    opacity: 0.3;
    transition: all 300ms ease-in-out;
}

.arrow-right-2 {
    left: auto;
    right: 0;
    text-align: right;

    background: linear-gradient(to right, transparent 0%, black 200%);
}

.arrow-left-2:hover,
.arrow-right-2:hover {
    opacity: 1;
}

.item-2 {
    width: 25rem;
    height: 25rem;
    flex-shrink: 0;
    opacity: 0.6;
    transition: all 300ms ease-in-out;
}

.current-item-2 {
    opacity: 1;
}

.gallery-wrapper-2::-webkit-scrollbar {
    display: none;
}

.gallery-wrapper-2{
    -ms-overflow-style: none;

    scrollbar-width: none;
} */

/* SLIDER 3 */

/* .container-swiper-3 {
    position: relative;
    padding: 1.5rem;
    max-width: 100%;
    margin: 0 auto;
}

.gallery-wrapper-3 {
    overflow-x: auto;
}

.gallery-3 {
    display: flex;
    flex-flow: row nowrap;
    gap: 1.5rem;
}

.arrow-left-3,
.arrow-right-3 {
    position: absolute;
    top: 0;
    left: 0;
    right: auto;
    bottom: 0;
    font-size: 6rem;
    line-height: 25rem;
    width: 4rem;
    text-align: center;
    color: #fff;
    cursor: pointer;
    border: none;
    z-index: 1;

    background: linear-gradient(to left, transparent 0%, black 200%);
    opacity: 0.3;
    transition: all 300ms ease-in-out;
}

.arrow-right-3 {
    left: auto;
    right: 0;
    text-align: right;

    background: linear-gradient(to right, transparent 0%, black 200%);
}

.arrow-left-3:hover,
.arrow-right-3:hover {
    opacity: 1;
}

.item-3 {
    width: 25rem;
    height: 25rem;
    flex-shrink: 0;
    opacity: 0.6;
    transition: all 300ms ease-in-out;
}

.current-item-3 {
    opacity: 1;
}

.gallery-wrapper-3::-webkit-scrollbar {
    display: none;
}

.gallery-wrapper-3{
    -ms-overflow-style: none;

    scrollbar-width: none;
} */

/* SECTION ABOUT */

#about {
    background: var(--base-color);
    padding: 10rem 10rem;
    width: 100%;
}

#about .about {
    display: flex;
    flex-direction: column;
    gap: 3.1rem;
    margin-left: 2rem;
    margin-right: 2rem;
}

#about .content-about {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
}

#about .text {
    display: flex;
    flex-direction: column;
    gap: 3.1rem;
}

#about h1 {
    font-size: 4.5rem;
    font-weight: 700;
    width: 45rem;
}

#about p {
    font-size: 1.6rem;
    font-weight: 400;
    width: 40rem;
}

#about a {
    color: #000;

    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 700;
    text-transform: uppercase;

    width: 24rem;
    padding: 1.6rem 4.6rem ;

    background: #fff;
    transition: all .2s ease-in-out;
}

#about a:hover {
    color: #fff;
    background: #000;
}

/* BACK TO TOP */

.back-to-top {
    background-color: var(--base-color);
    color: #000;

    position: fixed; 
    right: 2rem;
    bottom: 2rem;

    padding: 1rem;
    clip-path: circle();

    font-size: 3rem;
    line-height: 0;

    visibility: hidden;
    opacity: 0;

    transition: 0.3s;
    transform: translateY(100%);
    text-decoration: none;
    z-index: 2;
}

.back-to-top.show {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
}

.back-to-top:hover {
    color: #000;
    transform: scale(1.1);
    background-color: #fff;

}

@media (max-width: 1200px) {
    
    #why {
        padding: 13rem 5rem;
        height: auto;
    }

    #why .content-why {
        gap: 4rem;
        height: auto;

    }

    #why .square {
        height: auto;

    }

    #about .content-about, #about .text{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    #about .content-about .mac {
        padding: 0 10rem;
    }

    #portifolio {
        padding: 10rem 5rem;
    }

    #portifolio .image {
        width: 35rem;
    }
}

@media (max-width: 768px) {

    #why {
        height: auto;
        padding: 10rem 0;
    }

    #public {
        height: auto;
        padding: 10rem 0;
    }

    #public .clients {
        display: flex;
        flex-direction: column;
    }

    #public .enterprise {
        max-width: 100%;
    }

    #public .icons {
        display: none;
    }

    #methodology {
        display: flex;
        justify-content: center;
        background-color: #000000;
        height: auto;
        padding: 10rem 0;
    }

    .content-bt {
        gap: 3rem;
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 1rem;
    }
    
    #methodology .steps {
        display: flex;
        flex-direction: column;
        gap: 3rem;
        padding: 1rem;

    }
    
    #methodology .button {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    #methodology .button p {
        font-size: 2.5rem;
        color: #fff;
    }
    
    #methodology .content-bt .text h1 {
        font-size: 3rem;
        color: #fff;
        text-align: center;
    }

    
    .breathing, .estrategy, .synthesis {
        width: 100%;
    }
    
    .breathing span, .estrategy span, .synthesis span{
        color: #fff;
        font-size: 1.5rem;
    }
    
    #methodology .showmore {
        font-size: 3rem;
        color: var(--base-color);
        background-color: #000;
        border: none;
        width: 2rem;
        display: flex;
        gap: 53rem;
        font-family: 'Sora', sans-serif;
        align-items: center;
        cursor: pointer;
    }

    
#portifolio {
    background: #000;
    
    display: flex;
    align-items: center;
    justify-content: center;

    gap: 5rem;
    padding: 12rem 0;
}

#portifolio .content-portifolio {
    display: flex;
    flex-direction: row;
    gap: 5rem;
    align-items: center;
    justify-content: center;
}

/* #portifolio .line {
    background: var(--base-color);

    height: .6rem;
    width: 29.7rem;

    margin-bottom: 6rem;
} */

#portifolio .text {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 1.6rem;
    gap: 3.1rem;
}

#portifolio .text h1 {
    color: #fff;
    font-size: 3rem;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#portifolio .text h1 span{
    color: var(--base-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#portifolio a {
    color: #000;
    text-decoration: none;
    background: #fff;

    width: 24rem;
    padding: 1.6rem 4.6rem;

    font-size: 1.2rem;
    font-weight: 700;
    text-transform: uppercase;

    transition: all .2s ease-in-out;
}

#portifolio .image {
    width: 30rem;
}

#portifolio a:hover {
    background: #0057ff;
}

}

@media (max-width: 600px) {
    /* HEADER E NAV */

    html, body {
        overflow-x: hidden;
        scroll-behavior: smooth;
    }

    .section{
        height: 50rem;
    }

    main {
        margin-left: auto;
        margin-right: auto;
    }

    #header {
        margin-bottom: 2rem;
        display: flex;
        align-items: center;
    
        width: 100%;
        position: fixed;
        z-index: 100;
        top: 0;
        left: 0;
        background-color: var(--background-color-black);
    }

    #header.scroll {
        transition: 0.2s;
        box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.1);
    }

    nav.container {
        padding: 2rem 1rem;
    }

    nav {
        width: 100%;
        height: var(--header-height);
    
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    nav ul li {
        text-align: center;
    }

    nav ul li a {
        transition: 0.2s;
        position: relative;
    }

    nav ul li a:hover, 
    nav ul li a.active {
        color: var(--base-color);
    }

    nav ul li a::after {
        content: '';
        width: 0%;
        height: 2px;
        background: var(--base-color);

        position: absolute;
        left: 0;
        bottom: -1.5rem;

        transition: width 0.2s;
    }

    nav .menu {
        opacity: 0;
        visibility: hidden;
        top: -20rem;
        transition: 0.2s;
    }

    nav ul li a:hover::after,
    nav ul li a.active::after {
    width: 100%;
    }
    
    nav .menu ul {
        display: none;
    }
    
    /* Mostrar menu */
    nav.show .menu {
        opacity: 1;
        visibility: visible;
    
        background: var(--background-color-black);
        height: 100vh;
        width: 100vw;
    
        position: fixed;
        top: 0;
        left: 0;
    
        display: grid;
        place-content: center;
    }
    
    nav.show .menu ul {
        display: grid;
    }
    
    nav.show ul.grid {
        gap: 4rem;
    }

    .toggle {
        color: var(--base-color);
        font-size: 1.5rem;
        cursor: pointer;
    }
    
    nav .icon-close {
        visibility: visible;
        opacity: 0;
    
        position: absolute;
        top: -1.5rem;
        right: 3rem;
    
        transition: 0.2s;
        margin-top: 1rem;
    }

    .icon-menu, .icon-close {
        font-size: 3rem;
        display: flex;
        align-items: center;
    }

    .back-to-top {
        padding: 1rem;
        font-size: 3rem;
    }

    header {
        display: flex;
        align-items: center;
    }

    nav.show div.icon-close {
        visibility: visible;
        opacity: 1;
        top: 1.5rem
    }

    header nav ul{
        display: none;
    }

    header nav .logo{
        justify-content: start;
        width: 15rem;
    }

    header {
        padding: 0 2rem;
    }

    header nav ul li .nav{
        font-size: 2rem;
    }

    header nav ul li .instagram{
        font-size: 2rem;
    }

    #header.scroll {
        transition: .2s;
        box-shadow: 0 0 2rem rgba(0, 0, 0, 0.152);
    }

    #home {
        padding: 1rem 2rem;
        overflow: hidden;
    }

    #home .text h1 {
        font-size: 3rem;
        font-weight: 700;
        max-width: 100%;
    }
    
    #home .text p {
        font-size: 1.5rem;
        font-weight: 400;
    
        margin-bottom: 4rem;
        width: 100%;
    }

    #home .text {
        max-width: 40rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    } 

    #home .text .link a {
        background: var(--base-color);
        color: #000;
        padding: 1.4rem 4.4rem;
    
        font-size: 1rem;
        font-weight: 700;
    
        text-transform: uppercase;
        width: 100% ;
    }
    
    #home .text .link a:hover {
        background: #fff;
    }

    #why {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
        padding: 6rem 2rem;
        height: auto;
    }

    #why .content-why {
        flex-direction: column;
        gap: 5rem;
        max-width: 400px;
    }

    #why .text {
        width: 30rem;
    }
    
    #why .arrow {
        display: none;
    }
    
    #why .text h1 {
        font-size: 3rem;
        font-weight: 700;
        justify-content: none;
        align-items: none;
    }
    
    #why .text h1 span {
        color: var(--base-color);
    }

    #why .square {
        width: 100%;
        height: auto;
        padding: 2rem;
    }
    
    #why .square p {
        display: flex;
        height: auto;
        font-size: 1.5rem;
        font-weight: 400;
        align-items: center;
        justify-content: center;
    }
    
    #why .square a {
        font-family: 'Sora', sans-serif;
    
        font-weight: 700;
        text-transform: uppercase;
        
        color: #000;
        font-size: 1.2rem;
    
        background-color: var(--base-color);
        padding: 1.4rem 0;
        border: none;
        width: 100%;

        text-align: center;
        cursor: pointer;
    
        transition: all .2s ease-in-out;
    }
    
    #why .square a:hover {
        color: #fff;
        background: #000;
    }
    
    #services {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 5.4rem;
        padding: 6rem 0;
        height: auto;
    }
    
    #services .text {
        gap: 1.2rem;
    }
    
    #services .text h1 {
        font-size: 3rem;
    }
    
    #services .text p {
        font-size: 1.5rem;
    }
    
    #services .cards-services {
        display: flex;
        flex-direction: column;

        gap: 1rem;
    }
    
    #services .cards-services .card{
        transition: all .2s ease-in-out;
    }
    
    #services .card {
        padding: 1.2rem 5.8rem;
        font-size: 1.2rem;
    }

    #public {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        padding: 5rem 15rem;
        height: auto;
        gap: 1rem;
    }

    .section {
        padding: 45rem 0;
    }
    
    #public h1 {
        display: flex;
        flex-direction: column;
        font-size: 3rem;
        font-weight: 700;
        margin-bottom: 2rem ;
        width: 61.5rem;
        align-items: center;
        justify-content: start;
    }
    
    #public h1 span {
        color: var(--base-color);
    }
    
    #public .clients {
        display: flex;
        flex-direction: column;
        color: #fff;
        gap: 1rem;
        margin-bottom: 4rem;
        z-index: -1;

    }
    
    .house, .bag, .wifi {
        background-color: #000;
        padding: .5rem 1rem;
        display: none;
    }
    
    .company, .entrepreneurs, .influencers {
        display: flex;
        flex-direction: column;
        gap: 1.4rem;
    
        background: #000;
        width: 100%;
        height: auto;
        padding: 5rem 2.5rem;
    }
    
    .clients h3 {
        color: var(--base-color);
        text-align: center;
        font-size: 2.5rem;
        font-weight: 700;
        text-transform: uppercase;
    }
    
    .clients p {
        text-align: center;
        font-size: 1.5rem;
        font-weight: 400;
    }
    
    #public a {
        align-items: center;
        justify-content: center;
        padding: 1.4rem 4.4rem;
    }

    #methodology {
        display: flex;
        justify-content: center;
        background-color: #000000;
        height: auto;
        padding: 4rem 0;
    }

    .content-bt {
        gap: 3rem;
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 1rem;
    }
    
    #methodology .steps {
        display: flex;
        flex-direction: column;
        gap: 3rem;
        padding: 1rem;

    }
    
    #methodology .button {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    #methodology .button p {
        font-size: 2.5rem;
        color: #fff;
    }
    
    #methodology .content-bt .text h1 {
        font-size: 3rem;
        color: #fff;
        text-align: center;
    }

    
    .breathing, .estrategy, .synthesis {
        width: 100%;
    }
    
    .breathing span, .estrategy span, .synthesis span{
        color: #fff;
        font-size: 1.5rem;
    }
    
    #methodology .showmore {
        font-size: 3rem;
        color: var(--base-color);
        background-color: #000;
        border: none;
        width: 2rem;
        display: flex;
        gap: 53rem;
        font-family: 'Sora', sans-serif;
        align-items: center;
        cursor: pointer;
    }

    /* #portifolio {
        background: #000;
        
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    
        gap: 5rem;
        padding: 2rem 0;
    }

    #portifolio .client {
        color: #fff;
    
        font-size: 2.5rem;
        font-weight: 700;
        padding: 0;
        text-align: center;
    }
    
    #portifolio .line {
        background: var(--base-color);
    
        height: .2rem;
        width: 20rem;
    
        margin: 3rem 0 1rem 0;
    }
    
    #portifolio .text {
        display: flex;
        flex-direction: column;
        align-items: center;
    
        gap: 1rem;
    }
    
    #portifolio .text h1 {
        color: #fff;
        font-size: 3rem;
        font-weight: 700;
    }
    
    #portifolio .text p {
        text-align: center;
        width: 30rem;
        color: #fff;
    
        font-size: 1.5rem;
        font-weight: 400;
    }

    #portifolio a {
        background: var(--base-color);
        width: 24rem;
        padding: 1.6rem 4.6rem;
        font-size: 1.2rem;
        margin-bottom: 3rem;
    } */

        /* SLIDERS */
        .container-swiper-1 .item-1,
        .container-swiper-2 .item-2,
        .container-swiper-3 .item-3 {
          max-width: 40rem; /* Alterando o tamanho dos itens para preencher a largura do slider */
          height: auto; /* Permitindo que a altura dos itens se ajuste automaticamente ao conteúdo */
        }
    
        .arrow-left-1,
        .arrow-right-1,
        .arrow-left-2,
        .arrow-right-2,
        .arrow-left-3,
        .arrow-right-3 {
          font-size: 5rem; /* Reduzindo o tamanho das setas dos sliders */
          line-height: 3rem; /* Ajustando a altura das setas para alinhar verticalmente */
          width: 3rem; /* Reduzindo a largura das setas dos sliders */
        }
    
        /* .arrow-left-1 {
            left: 1rem;
        }
    
        .arrow-right-1 {
            right: 1rem
        }
    
        .arrow-left-2 {
            left: 1rem;
        }
    
        .arrow-right-2 {
            right: 1rem
        }
    
        .arrow-left-3 {
            left: 1rem;
        }
    
        .arrow-right-3 {
            right: 1rem
        }
     */
        

        /* SECTION PORTIFOLIO*/

        #portifolio .content-portifolio {
            display: flex;
            flex-direction: column;
            gap: 5rem;
            align-items: center;
            justify-content: center;
        }

            #portifolio .text {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            margin-top: 1.6rem;
            gap: 3.1rem;
        }


        #portifolio .text h1 {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            color: #fff;
            font-size: 3rem;
            font-weight: 700;
        }

        #portifolio .text h1 span{
            color: var(--base-color);
        }

        #portifolio .text p {
            color: #fff;

            font-size: 1.4rem;
            font-weight: 400;
        }

        #portifolio .client {
            color: #fff;

            font-size: 3rem;
            font-weight: 700;
            width: 100%;
            padding: 0 5rem;
        }

        #portifolio a {
            color: #000;
            text-decoration: none;
            background: #fff;

            width: 24rem;
            padding: 1.6rem 4.6rem;
            /* margin-bottom: 16rem; */

            font-size: 1.2rem;
            font-weight: 700;
            text-transform: uppercase;

            transition: all .2s ease-in-out;
        }

        #portifolio a:hover {
            background: #0057ff;
        }
                


        /* SECTION ABOUT */
        #about {
            flex-direction: column; 
            align-items: center;
            justify-content: center;
            padding: 5rem;
        }
        
        #about .about {
            text-align: center; 
        }
        
        #about .mac img {
            width: 30rem;
        }

        #about .text{
            align-items: center; 
            width: 30rem;
        }

        #about .text h1 {
            font-size: 3rem;
        }

        #about .text p {
            font-size: 1.5rem;
            width: 30rem;
        }

        .item-1, .item-2, .item-3 {
            opacity: 1;
        }

        #splash {
            background-color: #000;
            width: 100%;
            height: 100%;
            inset: 0;
            z-index: 10000;
            display: flex;
            flex-direction: column;
            position: fixed;
            justify-content: center;
            align-items: center;
            animation: splash .2s 6s forwards;
        }
        
        .intro {
            display: flex;
            inset: 0;
            width: 30rem;
            height: 30rem;
            z-index: 1000;
            opacity: 1;
            justify-content: center;
            align-items: center;
        
            animation: intro .2s 5s ease forwards;
        }
        

}

#splash {
    background-color: #000;
    width: 100%;
    height: 100%;
    inset: 0;
    z-index: 10000;
    display: flex;
    flex-direction: column;
    position: fixed;
    justify-content: center;
    align-items: center;
    animation: splash .2s 3s forwards;
}

.intro {
    display: flex;
    inset: 0;
    width: 30rem;
    height: 30rem;
    z-index: 1000;
    opacity: 1;
    justify-content: center;
    align-items: center;

    animation: intro .2s 2.5s ease forwards;
}

@keyframes splash {
    0% {
        z-index: 1000;
        opacity: 1;
    }
    100% {
        opacity: 0;
        z-index: -1000;
    }
}

@keyframes intro {
    0% {
        opacity: 1;
        z-index: 10000;
    }

    100% {
        opacity: 0;
        z-index: -1;
        position: none;
    }
}

/* #app {
    animation: every .3s 6s forwards;
} */

@keyframes every {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


